<!-- Head component -->
<%- include('../partials/head', {variant:'mode'}) %>
    
<!-- Header -->
<%- include('../partials/header'), {variant:'themeButtonText'} %>


<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar', {variant:'result'}) %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <h1 style="margin-left: 13.5%;"> A page for learning Node.js and other stuff </h1>
        
        <h2>If the sidebar is empty</h2>
        <p>This means you dont have any data in your mongoDB related to this page, therefore you either have to manually add new pages (top right button)
          OR because I'm such a good guy (and its part of the mandatory assignment, but dont tell anyone), you can go to the endpoint /loadDatabase, and
          a bunch of new pages will be available for you in the sidebar at your left
        </p>

        <h2>The various endpoints</h2>
        <p>
        Heres a list of all the available endpoints this site has to offer, please dont abuse them too much  
        </p>
        <ul>
          <strong>GET</strong>
          <li><strong>/</strong>, will take you to this page, just in case you get lost</li>
          <li><strong>/loadDatabase</strong>, this will load your LOCAL "database", not mongoDB</li>
          <li><strong>/changeTheme</strong>, you wont need this, this is for the theme toggle button</li>
          <li><strong>/addNewPage</strong>, the page where you can make additional pages for this site, these will be stored both locally and in mongoDB</li>
          <li><strong>/pages/:title</strong>, this will load a pages content depending on what data is stored in your local database</li><br>
          <strong>POST</strong>
          <li><strong>/pages</strong>, you wont need this, but this is the endpoint for newly created pages</li><br>
          <strong>DELETE</strong>
          <li><strong>/pages</strong>, a DELETE method endpoint, can be accessed with Postman, and will delete every page locally and in mongoDB</li>
          <li><strong>/pages/:title</strong>, another DELETE method endpoint, will delete a specific page via title, these get deleted locally and in mongoDB</li>
        </ul>


      </div>
    </div>
</div>
    





<!-- Footer Component -->
<%- include('../partials/footer') %>