<!-- Head component -->
<%- include('../partials/head') %>
    
<!-- Header -->
<%- include('../partials/header') %>


<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar', {variant:'result'}) %>
    <!-- The "meat" of the pages -->
    <div class="col">
      <div>

        <h1>Landing page, should contain some sort of welcome and short description of what the task was, maybe, probably</h1>
        
      </div>
    </div>
</div>
    





<!-- Footer Component -->
<%- include('../partials/footer') %>