<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header', {variant:'themeButtonText'}) %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar', {variant:'result'}) %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <!-- HTML TEXT GOES HERE -->

        <h1 style="margin-left: 35%;">Login</h1>

        <div class="row">

            <div class="col-4"></div>

            <div class="col-6">

                <div>
                    Username <br>
                    <input type="text" name="" id="inputUsername" style="width: 25%;">
                </div>
                
                <div>
                   Password <br>
                    <input type="password" name="" id="inputPassword" style="width: 25%;"> <br> 
                </div>
    
                <div>
                    <button class="btn btn-primary" id="submitButton" style="width: 25%; margin-top: 2%;">Login</button>
                </div>

            </div>
            
            <div class="col-2"></div>
           

        </div>
      </div>
    </div>
</div>

<script>

$('#submitButton').click( async () => {
    const username = $('#inputUsername').val()
    const password = $('#inputPassword').val()

    const data = {
      username: username,
      password: password,
    }

    console.log(data)

    await fetch("https://mandatory-assignment-nodejs.herokuapp.com/login", {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    window.location = '/'
})

</script>

<!-- Footer Component -->
<%- include('../partials/footer') %>