<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header') %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar') %>
    <!-- The "meat" of the pages -->
    <div class="col">
      <div>

        <h1 style="margin-left: 31.5%;">Session four</h1>

        <h2>Functional Loops</h2>

        <h2>URL Anatomy</h2>

        <h2>Receiving data in Express</h2>

      </div>
    </div>
</div>

<!-- Footer Component -->
<%- include('../partials/footer') %>