<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header') %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar') %>
    <!-- The "meat" of the pages -->
    <div class="col">
      <div>
        
        <h1 style="margin-left: 31.5%;">Session three</h1>

        <h2>Theory about variables (var vs let & const)</h2>

        <h2>Type Coercion</h2>

        <h2>NPM (Node Package Manager)</h2>

        <h2>Nodemon</h2>

        


      </div>
    </div>
</div>

<!-- Footer Component -->
<%- include('../partials/footer') %>