<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header') %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar') %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <h1 style="margin-left: 31.5%;">Session five</h1>

        <div class="sessionContent">
          <h2>How to serve .html files</h2>
          <p>
            Html files are always stored inside a folder called ‘public’ when working with Node.js. 
            Therefore we create a folder called ‘public’ inside of the root folder. In this public folder we create .html files 
            for various paths and serving. After this is done, we can make a path inside our app.js file 
            for serving the necessary .html file, in this case the welcome.html file.
            <img src="/imgs/serveHtml.PNG" alt="" class="centerImage">
            Visual Studio Code can also create a HTML boilerplate for us, just make a new .html file 
            and type html, then select html 5, and thus we have a boilerplate.
          </p>
        </div>
        

      </div>
    </div>
</div>

<!-- Footer Component -->
<%- include('../partials/footer') %>