<!-- head component -->
<%- include('../partials/head') %>

<!-- Header -->
<%- include('../partials/header') %>

<!-- Content -->
<div class="row">
    <!-- Sidebar partial -->
    <%- include('../partials/sidebar') %>
    <!-- The "meat" of the pages -->
    <div class="col" id="content">
      <div>

        <h1 style="margin-left: 31.5%;">Session four</h1>

        <div class="sessionContent">
          <h2>Functional Loops</h2>
          <p>
            <img src="/imgs/FunctionalLoops.PNG" alt=""> <br>
            In this example we use the .map() method, where we console log each element inside the map. 
            So it’s sort of a minimized for each loop. 
          </p>
        </div>

        <div class="sessionContent">
          <h2>URL Anatomy</h2>
          <p>
            <img src="/imgs/URLAnatomy.PNG" alt="" class="centerImage">
            <img src="/imgs/URLExample.PNG" alt="" class="centerImage">
            This GET method will for instance be able to tell specifics about the URL, 
            even though our URL can be completely randomized (sorta). :id and :title tells us 
            that we should expect any value at these parts of the URL, though these values should make 
            sense in a context of what's beforehand in the URL. For instance if we’re hitting the 
            endpoint /users/:id we would expect id to be a number, or if the endpoint was /users/:name 
            we should expect a string, because the scenario is (most likely) a search in the users via a name
          </p>
        </div>

        <div class="sessionContent">
          <h2>Receiving data in Express</h2>
          <p>
            With the Express framework we can fast and efficiently create methods in our app.js file 
            for receiving various POST calls, these are written, for instance
            <img src="/imgs/ExpressDataReceiving.PNG" alt="" class="centerImage">
            Here we are ready to receive data at endpoint /whatever, where we expect to receive some sort of 
            data packed into the req variable of the method. In this case we just respond with the JSON object, as a JSON object. <br>
            <img src="/imgs/ExpressPostmanExample.PNG" alt="" id="postmanExample"> <br>
            Here we send the POST call through Postman (since we don't have a form for our site)
            <ol>
              <li>First we click “Body”.</li>
              <li>Then we click “raw”.</li>
              <li>Then change the format to JSON.</li>
              <li>Next we write our JSON object, the keys have to be within quotation marks.</li>
              <li>Click send.</li>
              <li>Lastly we can see the response from the server, which in our case was the object we sent to the server in the first case.</li>
            </ol>
          </p>
        </div>


      </div>
    </div>
</div>

<!-- Footer Component -->
<%- include('../partials/footer') %>